/*

DIGITAL TREND

https://templatemo.com/tm-538-digital-trend

*/
  
@font-face {
  font-family: 'Plain-Regular';
  src: url('../fonts/Plain-Regular.woff2') format('woff2'),
      url('../fonts/Plain-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Plain-Light';
  src: url('../fonts/Plain-Light.woff2') format('woff2'),
      url('../fonts/Plain-Light.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Plain-Bold';
  src: url('../fonts/Plain-Bold.woff2') format('woff2'),
      url('../fonts/Plain-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
--primary-color:        #057a8d;
--secondary-color:      #f1c111;
--white-color:          #ffffff;
--dark-color:           #171819;
--project-bg:           #f0f8ff;
--menu-bg:              #0c8195;

--title-color:          #15141a;
--gray-color:           #909090;
--link-color:           #404040;
--p-color:              #666262;

--base-font-family:     'Plain-Light', sans-serif;
--title-font-family:    'Plain-Regular', sans-serif;
--font-bold-family:     'Plain-Bold', sans-serif;
--font-weight-bold:     bold;

--h1-font-size:         42px;
--h2-font-size:         32px;
--h3-font-size:         24px;
--p-font-size:          18px;
--base-font-size:       16px;
--menu-font-size:       14px;

--border-radius-large:  100px;
--border-radius-small:  5px;
}

body {
background: var(--white-color);
font-family: var(--base-font-family);
}


/*---------------------------------------
 TYPOGRAPHY              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
font-family: var(--title-font-family);
line-height: inherit;
}

h1 {
color: var(--white-color);
font-size: var(--h1-font-size);
}

h2 {
font-size: var(--h2-font-size);
font-weight: 100;
}

h3 {
font-size: var(--h3-font-size);
font-weight: 100;
margin-bottom: 0;
}

h4 {
color: var(--gray-color);
font-family: var(--base-font-family);
font-size: var(--p-font-size);
letter-spacing: 1px;
text-transform: uppercase;
}

p {
color: var(--p-color);
font-size: var(--p-font-size);
line-height: 1.5em;
}

b, 
strong {
letter-spacing: 0;
color: var(--secondary-color);
}


/*  BLOCKQUOTES */
.quote {
position: relative;
margin: 0;
}

.quote::after {
content: "“";
position: absolute;
bottom: -80px;
left: 20px;
font-family: times;
color: var(--gray-color);
font-weight: var(--font-weight-bold);
font-size: 14em;
line-height: 0;
opacity: 0.10;
}

blockquote {
border-left: 5px solid rgba(0,0,0,0.05);
display: block;
margin: 42px 0;
padding: 14px 22px;
color: rgba(0,0,0,0.5);
}


/* BUTTON */
.custom-btn {
background: transparent;
border: 2px solid var(--dark-color);
border-radius: var(--border-radius-large);
padding: 12px 26px 14px 26px;
color: var(--dark-color);
font-family: var(--title-font-family);
font-size: var(--p-font-size);
white-space: nowrap;
}

.custom-btn.btn-bg {
background: var(--white-color);
color: var(--primary-color);
border-color: transparent;
transition: all .3s ease;
}

.custom-btn:hover,
.custom-btn:focus {
background: var(--dark-color);
color: var(--white-color);
border-color: transparent;
}


/*---------------------------------------
 GENERAL               
-----------------------------------------*/

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

*::before,
*::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

a {
color: var(--link-color);
font-weight: normal;
text-decoration: none;
}

a:hover, 
a:active, 
a:focus {
color: var(--secondary-color);
outline: none;
text-decoration: none;
}

::selection {
background: var(--secondary-color);
color: var(--white-color);
}

.section-padding {
padding: 8em 0;
}
.section-padding-half {
padding: 4em 0;
}

.google-map iframe {
display: block;
width: 100%;
}

/*---------------------------------------
 HERO              
-----------------------------------------*/

.hero {
position: relative;
padding: 5em 0;
overflow: hidden;
}

.hero-bg {
background: linear-gradient(170deg, var(--primary-color) 64%, var(--white-color) 30%);
}

.hero-image {
position: relative;
top: 2em;
}


/*---------------------------------------
 RESPONSIVE STYLES              
-----------------------------------------*/

@media screen and (min-width: 1200px) {

.about-info h2 {
  max-width: 70%;
}
}

@media screen and (min-width: 991px) {

.project h2 {
  max-width: 32%;
  margin: 0 auto;
}
}

@media screen and (max-width: 991px) {

.hero {
  padding-top: 14em;
}

.hero-text {
  bottom: 2em;
}

.copyright-text, 
.footer-link, 
.site-footer .social-icon {
  margin-top: 3em;
  padding: 0;
  text-align: left;
}
}

@media screen and (max-width: 767px) {

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

.project-info {
  right: 0;
  left: 0;
  margin: 0 auto;
}

.footer-link, 
.site-footer .social-icon {
  margin-top: 1em;
}

.copyright-text {
  margin: 2.5em 0 1em 0;
}

.footer-link li {
  margin-left: 0;
}
}

