body {	
	position: relative;
	color: black;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-weight: 400;
	overflow-x: hidden;
}

.tm-white { color: #FFFFFF; }

ul { padding: 0; margin: 0; }
figure { margin: 0; }
p:last-child { margin-bottom: 0; }
a { color: #3f97c9; }
a, button { transition: all 0.3s ease; }
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

.tm-section-margin-t { margin-top: 200px; }
.tm-section-margin-t-small { margin-top: 150px; }

.cd-hero-slider li:first-of-type,
.cd-hero-slider li:nth-of-type(2),
.cd-hero-slider li:nth-of-type(3),
.cd-hero-slider li:nth-of-type(4) {
    background: none;
}

.cd-hero-slider .cd-full-width { padding-top: 0; }

.cd-slider-nav {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1002;
	background-color: rgba(42, 59, 85, 0.8);
	height: 50px;
}

.cd-slider-nav nav { 
	width: 100%; 
	padding: 0 10px;
}

.cd-slider-nav .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.cd-slider-nav li { 
	display: block;
	float: none;
	width: auto;	
}

.tm-navbar { float: right; }
.tm-navbar-bg {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	-ms-flex-pack: justify;
	    justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
	overflow: auto;
}

.cd-hero-slider li { list-style: none; }
.tm-textbox { display: inline-block; }

.cd-hero-slider h2, .cd-hero-slider p {
	max-width: none;
	width: 100%;
}

.cd-hero-slider p { color: white; }
.cd-hero-slider .tm-bg-white p,
.cd-hero-slider .tm-bg-white h2 { color: black; }

.cd-hero-slider .tm-text { 
	font-size: 1em;
	line-height: 1.8; 
}

.tm-home-container {
	margin: 0 auto;
	max-width: 800px;
	width: 95%;
}

.tm-home-title-container,
.tm-home-description-container {
	width: 100%;
}

.tm-home-title-container {
	background-color: #856729;
	border: 1px solid white;
	margin-bottom: 0;
	padding: 30px;
}

.tm-bg-dark-blue { background-color: #057a8d; }
.tm-bg-white { 
	background-color: white; 
	color: black;
}
.tm-bg-brown { background-color: #856729; }
.tm-bg-dark-brown { background-color: #5a471c; }
.tm-home-description-container { padding: 50px; }

.tm-home-container-bg {
	background-color: white;
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 45px;
    height: 94%;
}

.tm-home-container-outer {
    position: relative;
    max-width: 840px;
    margin: 0 auto;
}

.cd-hero-slider h2.tm-text-title {	
    font-size: 1.6em;
    font-weight: 400;
}

.tm-white-header-container { width: 100%; }

.tm-white-header-container .tm-text-title {
	padding: 25px 40px 60px;
    font-size: 3rem;
}

.tm-white-header-body {
	width: 96%;
    display: block;
    margin: -40px auto 0;
}

.tm-2-col-left { padding-right: 30px; }
.tm-2-col-right { padding-left: 30px; }
.tm-margin-b { margin-bottom: 40px; }
.tm-height-100 { height: 100%; }
.tm-white-border { border: 1px solid white; }

/* Gallery */
.cd-hero-slider h2.tm-margin-b-0 { margin-bottom: 0; }
.tm-gallery-title-container { 
	position: relative; 
	padding-left: 10px;
	padding-right: 10px;
}

.tm-bg-white-half {
	background-color: white;
	width: 50%;
	height: 126px;
	position: absolute;
	top: -10px;
	left: -15px;
	z-index: -1;
}

.tm-footer {
	position: absolute;
	bottom: 0;
	left: 0;	
}

.tm-footer {
    width: 100%;
    color: white;
    z-index: 1001;
    padding: 0 11px 12px;
}

.cd-full-width {
	display: -ms-flexbox;
	display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
}

.cd-hero-slider p:last-child { margin-bottom: 0; }
textarea { height: 168px; }
#loader-wrapper { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 2000; }
#loader { display: block; position: relative; left: 50%; top: 50%; width: 150px; height: 150px; margin: -75px 0 0 -75px; border-radius: 50%; border: 3px solid transparent; border-top-color: #3498db; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */ z-index: 2001; }
#loader:before { content: ""; position: absolute; top: 5px; left: 5px; right: 5px; bottom: 5px; border-radius: 50%; border: 3px solid transparent;
    border-top-color: #e74c3c; /* Chrome, Opera 15+, Safari 5+ */
animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */ }
#loader:after { content: ""; position: absolute; top: 15px; left: 15px; right: 15px; bottom: 15px; border-radius: 50%; border: 3px solid transparent;
border-top-color: #f9c922; /* Chrome, Opera 15+, Safari 5+ */ animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */ }
@keyframes spin {
 0%   {  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
     transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
 }
 100% {  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
     transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
 }
}

#loader-wrapper .loader-section { position: fixed; top: 0; width: 51%; height: 100%; background: #222222; z-index: 2000;  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */ transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */}
#loader-wrapper .loader-section.section-left { left: 0; }
#loader-wrapper .loader-section.section-right { right: 0; }

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
 transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */  
 transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
 transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */  
 transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
 opacity: 0;  
 transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
 visibility: hidden;  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
 transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */  
 transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper { display: none; }
/*============ Preloader ends ==================================*/

.cd-hero-slider.small-screen { height: 100%; }

.tm-navbar {
 position: absolute;
 right: 20px;
 top: 44px;
}

.cd-slider-nav .navbar-nav { background-color: #455471; }

.cd-slider-nav , 
.navbar-nav { height: 50px; }

.cd-hero-slider .cd-full-width { text-align: left; }
.tm-2-col-left { padding-right: .9375rem; }

.tm-2-col-right {
 padding-left: .9375rem;
 padding-top: 14px;
}

.tm-2-col-textbox-2 {
 width: 100%;
 padding: 25px;
 margin-bottom: 30px; 
 -ms-flex: 0 1 auto; 
     flex: 0 1 auto; 
         /* Fix flexbox in IE 10 bug https://philipwalton.com/articles/normalizing-cross-browser-flexbox-bugs/ */
}

.tm-2-col-textbox-2:last-child { margin-bottom: 0; }

/* Gallery */
.grid-item {
 margin-bottom: 20px;
 padding-left: 1px;
 padding-right: 1px;
 float: left;
 width: 100%;
}

.grid-item-square { width: 50%; }

.grid-item:last-child { margin-bottom: 0; }

.tm-img-gallery {
 margin: 0 auto 10px;
 display: inline-block;
}

.tm-img {
   width: 100%;
   height: auto;
   border: 10px solid #ffffff;
   margin: 0 auto;
}

.tm-img-no-border {
 width: 100%;
 height: auto;
 margin: 0 auto;
}

.tm-textbox-padding { padding: 35px 30px; }

.col-xs-12 {
 padding-left: 10px;
 padding-right: 10px;
}

.tm-copyright-text {
 background-color: rgba(0, 0, 0, 0.3);
 color: white;
 display: inline-block;
 font-size: 1.8rem;
 font-weight: 400;
 padding: 5px 12px;
 width: 100%;
}

.tm-footer { padding: 50px 11px 20px; }
.tm-footer-link { color: white; }
.tm-footer-link:hover,
.tm-footer-link:focus {
 color: yellow;
}

@media only screen and (min-width: 480px) {
	.cd-hero-slider h2.tm-text-title { font-size: 2.2em; }
	.cd-hero-slider h2.tm-text-title-small { font-size: 1.6em; }
	.tm-textbox-padding { padding: 30px 40px; }
	.tm-textbox-padding-contact { padding: 30px; }
		
	.grid-item {
		padding-left: 10px;
		padding-right: 10px;
		width: 50%;
	}

	.grid-item-big { width: 100%; }
}

@media only screen and (min-width: 600px) {

	.tm-home-container-bg {	height: 92%; }
	.tm-footer { padding: 50px 30px 20px; }
	.tm-copyright-text { width: auto; }
}

@media only screen and (min-width: 720px) {
	
	.tm-footer { 
		-ms-flex-direction: row; 
			flex-direction: row; 
	}

	.tm-copyright-text { margin-top: 0; }
}

.tm-sm-margin-b { margin-bottom: 30px; }
.tm-2-col-equal-height { height: 77%; }

@media only screen and (min-width: 768px) {

	.tm-2-col-left { padding-right: 20px; }
	.tm-2-col-right { padding-left: 20px; }
	.tm-sm-margin-b { margin-bottom: 0; }
	.tm-home-container-bg { height: 92%; }
	.cd-hero-slider .cd-full-width { padding-top: 0; }
	.tm-2-col-left { padding-right: 25px; }

	.tm-2-col-right { 
		padding-left: 25px; 
		padding-top: 0;
	}

	.tm-flex { 
		display: -ms-flexbox; 
		display: -webkit-box; 
		display: flex;
		-ms-flex-pack: center;
		    -webkit-box-pack: center;
		        justify-content: center;
	}

	.tm-2-col-textbox-2 {	
		margin-bottom: 0;
		margin-right: 30px;
		width: 100%;
	}

	.tm-2-col-textbox-2:last-child { margin-right: 0; }
}
